# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment folders
env/
# SQLite database files
*.db
*.sqlite3

# Docker-related files
*.dockerfile

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db
